@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mt-5">
    <form asp-action="ImportToExcel" asp-controller="Home" method="post">
        <button class="btn btn-primary center">Descargar validaciones</button>
    </form>
</div>

